$black:             hsl(0, 0%, 4%) !default;
$brown:             #827717;
$green:             hsl(141, 71%, 48%) !default;
$grey:              #9DA2C4;
$grey-darker:       #1f2338;
$grey-light:        #E4E6F4;
$orange:            #FFA63A;
$red:               #990000;
$turquoise:         #00B0E2;
$white:             hsl(0, 0%, 100%) !default;

$primary:           $turquoise;
