$black: hsl(0, 0%, 4%) !default;
$brown: #827717;
$green: hsl(141, 71%, 48%) !default;
$grey: #9da2c4;
$grey-light: #e4e6f4;
$orange: #ffa63a;
$red: #990000;
$turquoise: #00b0e2;
$white: hsl(0, 0%, 100%) !default;

$primary: $turquoise;
