@import 'AppearanceItem.scss';
@import 'Form/index.scss';


.appearances {
  @extend .item;

  margin-left: 15%;
  padding-top: 5rem;
  position: relative;

  .title {
    font-size: 2rem;
    margin-bottom: 2rem;
    text-decoration: underline;
  }

  .add {
    @extend .button;
    @extend .is-primary;

    position: absolute;
    right: 1rem;
    top: 1rem;
  }
}
